# NYC Airbnb Analysis

In [3]:
import csv
import pandas as pd
import numpy as np
  
# Read in data
df = pd.read_csv('airbnb_data.csv')
df.columns.values.tolist()

# Drop irrelevant features
df.drop([
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'description',
 'neighborhood_overview',
 'picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'neighbourhood', 'neighbourhood_cleansed',
 'property_type',
 'bathrooms_text',
 'beds', 'bathrooms',
 'amenities',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'number_of_reviews_l30d',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_value',
 'license',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month'],axis=1,inplace=True)

# Set property ID as index
df.set_index('id', inplace=True)

# Replace null values
df['bedrooms']=df['bedrooms'].fillna(1)
df['review_scores_location'].fillna(df['review_scores_location'].median(), inplace=True)

# One-hot encode categorical variables
df = pd.get_dummies(df)

df.info()

df.head(n=10)

/var/folders/3q/7fynlhf553j564109frc1vgm0000gn/T/ipykernel_92449/3619149577.py:7: DtypeWarning: Columns (67) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('airbnb_data.csv')

<class 'pandas.core.frame.DataFrame'>
Float64Index: 37410 entries, 2595.0 to 6.41241e+17
Data columns (total 19 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   latitude                                    37410 non-null  float64
 1   longitude                                   37410 non-null  float64
 2   accommodates                                37410 non-null  int64
 3   bedrooms                                    37410 non-null  float64
 4   price                                       37410 non-null  int64
 5   availability_30                             37410 non-null  int64
 6   availability_60                             37410 non-null  int64
 7   availability_90                             37410 non-null  int64
 8   availability_365                            37410 non-null  int64
 9   review_scores_location                      37410 non-null  float64
 10  neighbourhood_group_cleansed_Bronx          37410 non-null  uint8
 11  neighbourhood_group_cleansed_Brooklyn       37410 non-null  uint8
 12  neighbourhood_group_cleansed_Manhattan      37410 non-null  uint8
 13  neighbourhood_group_cleansed_Queens         37410 non-null  uint8
 14  neighbourhood_group_cleansed_Staten Island  37410 non-null  uint8
 15  room_type_Entire home/apt                   37410 non-null  uint8
 16  room_type_Hotel room                        37410 non-null  uint8
 17  room_type_Private room                      37410 non-null  uint8
 18  room_type_Shared room                       37410 non-null  uint8
dtypes: float64(4), int64(6), uint8(9)
memory usage: 3.5 MB

,latitude,longitude,accommodates,bedrooms,price,availability_30,availability_60,availability_90,availability_365,review_scores_location,neighbourhood_group_cleansed_Bronx,neighbourhood_group_cleansed_Brooklyn,neighbourhood_group_cleansed_Manhattan,neighbourhood_group_cleansed_Queens,neighbourhood_group_cleansed_Staten Island,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
id,,,,,,,,,,,,,,,,,,,
2595.0,40.75356,-73.98559,1,1.0,225,0,3,33,308,4.86,0,0,1,0,0,1,0,0,0
5121.0,40.68535,-73.95512,2,1.0,60,30,60,90,365,4.47,0,1,0,0,0,0,0,1,0
5136.0,40.66265,-73.99454,4,2.0,275,3,3,4,250,4.50,0,1,0,0,0,1,0,0,0
5178.0,40.76457,-73.98317,2,1.0,68,3,5,9,172,4.87,0,0,1,0,0,0,0,1,0
5203.0,40.80380,-73.96751,1,1.0,75,0,0,0,0,4.94,0,0,1,0,0,0,0,1,0
5295.0,40.80316,-73.96387,2,1.0,135,0,0,19,30,4.75,0,0,1,0,0,1,0,0,0
5803.0,40.66801,-73.98784,2,1.0,118,3,12,37,312,4.86,0,1,0,0,0,0,0,1,0
6848.0,40.70935,-73.95342,3,1.0,84,0,0,17,227,4.67,0,1,0,0,0,1,0,0,0
6872.0,40.80107,-73.94255,1,1.0,65,0,29,59,334,4.86,0,0,1,0,0,0,0,1,0
6990.0,40.78778,-73.94759,1,1.0,62,0,8,8,254,4.85,0,0,1,0,0,0,0,1,0

In [1]:
df.hist(figsize=(20,20));

NameError: name 'df' is not defined

## Data Analysis

### Split

In [4]:
from sklearn.model_selection import train_test_split

# Identify independent and dependent variables
X = df.drop('price', axis=1)
y = df['price']

# Split train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)
print(len(X_train), len(X_test), len(y_train), len(y_test))

29928 7482 29928 7482

### Multiple Regression

In [57]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Fit regression model
mlr = LinearRegression()
mlr.fit(X,y)

# Predict
y_pred = mlr.predict(X)
print('Results for multiple regression on training data')
print('MAE is ', mean_absolute_error(y, y_pred))
print('RMSE is ', np.sqrt(mean_squared_error(y, y_pred)))
print('MSE is ', mean_squared_error(y,y_pred))
print('R^2 ', r2_score(y,y_pred))

y_test_pred = mlr.predict(X_test)
print()
print('Results for multiple regression on test data')
print('MAE is ', mean_absolute_error(y_test, y_test_pred))
print('RMSE is ', np.sqrt(mean_squared_error(y_test,
y_test_pred)))
print('MSE is ', mean_squared_error(y_test, y_test_pred))
print('R^2 ', r2_score(y_test,y_test_pred))

Results for multiple regression on training data
MAE is  101.9509220612916
RMSE is  312.3150598746247
MSE is  97540.6966244904
R^2  0.1684330165846395

Results for multiple regression on test data
MAE is  99.07994818297202
RMSE is  287.7562223199497
MSE is  82803.64348384833
R^2  0.1475388642000619

### Decision Tree Regression

In [59]:
from sklearn.tree import DecisionTreeRegressor

# Fit regression model
dt = DecisionTreeRegressor()
dt.fit(X, y)

# Predict
y_pred = dt.predict(X)
print('Results for decision tree on training data')
print('MAE is ', mean_absolute_error(y, y_pred))
print('RMSE is ', np.sqrt(mean_squared_error(y, y_pred)))
print('MSE is ', mean_squared_error(y,y_pred))
print('R^2 ', r2_score(y,y_pred))

y_test_pred = dt.predict(X_test)
print()
print('Results for decision tree on test data')
print('MAE is ', mean_absolute_error(y_test, y_test_pred))
print('RMSE is ', np.sqrt(mean_squared_error(y_test,
y_test_pred)))
print('MSE is ', mean_squared_error(y_test, y_test_pred))
print('R^2 ', r2_score(y_test,y_test_pred))

Results for decision tree on training data
MAE is  0.07629358078435865
RMSE is  3.5370172310051786
MSE is  12.51049089242754
R^2  0.9998933438909863

Results for decision tree on test data
MAE is  0.02055090948434974
RMSE is  1.0167520216559782
MSE is  1.0337846735415186
R^2  0.9999893572164231

### Support Vector Regression

In [75]:
from sklearn.svm import SVR

# Fit regression model
sv = SVR()
sv.fit(X,y)

# Predict
y_pred = sv.predict(X)
print('Results for support vector on training data')
print('MAE is ', mean_absolute_error(y, y_pred))
print('RMSE is ', np.sqrt(mean_squared_error(y, y_pred)))
print('MSE is ', mean_squared_error(y,y_pred))
print('R^2 ', r2_score(y,y_pred))

y_test_pred = dt.predict(X_test)
print()
print('Results for support vector on test data')
print('MAE is ', mean_absolute_error(y_test, y_test_pred))
print('RMSE is ', np.sqrt(mean_squared_error(y_test,
y_test_pred)))
print('MSE is ', mean_squared_error(y_test, y_test_pred))
print('R^2 ', r2_score(y_test,y_test_pred))

Results for support vector on training data
MAE is  149.1305096334335
RMSE is  184.32066463553824
MSE is  33974.10741168656
R^2  0.004873978696355419

Results for support vector on test data
MAE is  0.02055090948434974
RMSE is  1.0167520216559782
MSE is  1.0337846735415186
R^2  0.9999893572164231

### Lasso Regression

In [61]:
from sklearn import linear_model

# Fit regression model
lasso = linear_model.Lasso()
lasso.fit(X,y)

# Predict
y_pred = lasso.predict(X)
print('Results for lasso on training data')
print('MAE is ', mean_absolute_error(y, y_pred))
print('RMSE is ', np.sqrt(mean_squared_error(y, y_pred)))
print('MSE is ', mean_squared_error(y,y_pred))
print('R^2 ', r2_score(y,y_pred))

y_test_pred = lasso.predict(X_test)
print()
print('Results for lasso on test data')
print('MAE is ', mean_absolute_error(y_test, y_test_pred))
print('RMSE is ', np.sqrt(mean_squared_error(y_test,
y_test_pred)))
print('MSE is ', mean_squared_error(y_test, y_test_pred))
print('R^2 ', r2_score(y_test,y_test_pred))

Results for lasso on training data
MAE is  102.82529932979843
RMSE is  313.75089997251126
MSE is  98439.62723356076
R^2  0.1607693332119221

Results for lasso on test data
MAE is  100.42408446581152
RMSE is  289.392710288547
MSE is  83748.1407681509
R^2  0.1378152917356017

# Results
| Model | Training Features | Set | RMSE | R2 (%) |
|:---|:---|:---|:---|:---|
|Multiple Regression|Independent|Training|312.32|16.84|
|Multiple Regression|Independent|Test|287.76|14.75|
|Decision Tree|Independent|Training|3.54|99.99|
|Decision Tree|Independent|Test|1.03|100.00|
|SVM|Independent|Training|184.32|0.49|
|SVM|Independent|Test|1.02|100.00|
|Lasso|Independent|Training|313.75|16.08|
|Lasso|Independent|Test|289.39|13.78|