# NYC Airbnb Analysis

In [49]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
  
df = pd.read_csv('airbnb_cleaned.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37410 entries, 0 to 37409
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            37410 non-null  float64
 1   neighbourhood_cleansed        37410 non-null  object
 2   neighbourhood_group_cleansed  37410 non-null  object
 3   latitude                      37410 non-null  float64
 4   longitude                     37410 non-null  float64
 5   room_type                     37410 non-null  object
 6   accommodates                  37410 non-null  int64
 7   price                         37410 non-null  int64
 8   number_of_reviews             37410 non-null  int64
 9   review_scores_location        37410 non-null  float64
dtypes: float64(4), int64(3), object(3)
memory usage: 2.9+ MB
None

In [48]:
df.head(n=10)

,id,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,accommodates,price,review_scores_location,number_of_reviews
0,2595,Midtown,Manhattan,40.75356,-73.98559,Entire home/apt,1.0,225.0,4.86,48.0
1,5121,Bedford-Stuyvesant,Brooklyn,40.68535,-73.95512,Private room,2.0,60.0,4.47,50.0
2,5136,Sunset Park,Brooklyn,40.66265,-73.99454,Entire home/apt,4.0,275.0,4.50,2.0
3,5178,Midtown,Manhattan,40.76457,-73.98317,Private room,2.0,68.0,4.87,536.0
4,5203,Upper West Side,Manhattan,40.80380,-73.96751,Private room,1.0,75.0,4.94,118.0
5,5295,Morningside Heights,Manhattan,40.80316,-73.96387,Entire home/apt,2.0,135.0,4.75,56.0
6,5803,South Slope,Brooklyn,40.66801,-73.98784,Private room,2.0,118.0,4.86,211.0
7,6848,Williamsburg,Brooklyn,40.70935,-73.95342,Entire home/apt,3.0,84.0,4.67,184.0
8,6872,East Harlem,Manhattan,40.80107,-73.94255,Private room,1.0,65.0,0.00,0.0
9,6990,East Harlem,Manhattan,40.78778,-73.94759,Private room,1.0,62.0,4.85,238.0

## Data Exploration

- Map (Tableau): properties per borough
- Grouped Bar (Excel): room type per borough
- Line (Excel): average price by accommodation
- Area (Excel): average price, review of location per borough